
policy_module(myexim, 1.0)

require {
	type httpd_t;
}

#============= httpd_t ==============
exim_manage_log(httpd_t)
exim_manage_spool_dirs(httpd_t)
exim_read_log(httpd_t)
